// Bitstream Vera Sans Mono font face
@font-face {
  font-family: Bitstream Vera Sans Mono;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMono.ttf) format("truetype");
}
@font-face {
  font-family: Bitstream Vera Sans Mono;
  font-style: italic;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMoIt.ttf) format("truetype");
}
@font-face {
  font-family: Bitstream Vera Sans Mono;
  font-weight: bold;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMoBd.ttf) format("truetype");
}
@font-face {
  font-family: Bitstream Vera Sans Mono;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMoBI.ttf) format("truetype");
}

// Default terminal colors
@mixin terminal {
  @apply bg-black;
  @apply text-white;
}

// Default selection
@mixin selection {
  @apply bg-white;
  @apply text-black;
}

// Global style
html {
  @include terminal;
  @apply font-mono;
  font-size: 16px;
  line-height: 19px;
}

// Global selection
::selection {
  @include selection;
}

// Fieldsets
fieldset {
  @apply border;
  @apply border-white;
  @apply px-2;
  @apply pb-2;
}
legend {
  @apply px-1;
  @apply z-10;
  @apply relative;
}

// Inputa and select style
input, select {
  @include terminal;
  @apply appearance-none;
}

// Hide number input arrows
input[ type = number ] {
  appearance: textfield;
}
input[ type = number ]::-webkit-inner-spin-button,
input[ type = number ]::-webkit-outer-spin-button {
  @apply appearance-none;
  @apply m-0;
}

input:disabled {
  @apply text-gray;
}

// Custom radio button and checkbox
input[ type = radio ]::before,
input[ type = checkbox ]::before {
  content: " ";
  @apply cursor-pointer;
  @apply whitespace-pre;
}

// Checked radio button and checkbox
input[ type = radio ]:checked::before {
  content: "*";
}
input[ type = checkbox ]:checked::before {
  content: "x";
}

// Remove implicit select left padding
select {
  text-indent: -2px;
  @apply align-text-bottom;
}

// Hide button overflow
button {
  @apply overflow-hidden;
}

// Normal cursor for disabled button
button:disabled {
  @apply cursor-default;
}
