// Bitstream Vera Sans Mono font face
@font-face {
  font-family: Bitstream Vera Sans Mono;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMono.ttf) format("truetype");
}
@font-face {
  font-family: Bitstream Vera Sans Mono;
  font-style: italic;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMoIt.ttf) format("truetype");
}
@font-face {
  font-family: Bitstream Vera Sans Mono;
  font-weight: bold;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMoBd.ttf) format("truetype");
}
@font-face {
  font-family: Bitstream Vera Sans Mono;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/ttf-bitstream-vera-1.10/VeraMoBI.ttf) format("truetype");
}

// Default terminal colors
@mixin terminal {
  @apply bg-black;
  @apply text-white;
}

// Global style
html {
  @include terminal;
  @apply font-mono;
  font-size: 16px;
  line-height: 19px;
}

// Default selection
::selection {
  @apply bg-white;
  @apply text-black;
}

// Inputamd select style
input, select {
  @include terminal;
}
